.input {
  padding: 12px 16px;
  border: 1px solid #7f56d9;
  border-radius: 8px;
  font-size: 16px;
  color: #667085;
  outline: none;
  cursor: pointer;
}

.input:focus {
  border-color: #693bbf;
}
