.signin-page {
  height: 100vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .title {
    width: 35%;
    padding-bottom: 24px;
    text-align: left;
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 14px;
      color: #c0c5d0;
    }
  }

  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  p {
    margin-top: 20px;
    font-size: 14px;

    a {
      color: #7f56d9;
      text-decoration: none;
      font-weight: 600;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 992px) {
  .signin-page {
    p {
      white-space: nowrap;
    }
    .title {
      width: 200px;
      text-align: center;
      h1 {
        font-size: 22px;
        white-space: nowrap;
      }
      p {
        font-size: 14px;
        margin: 8px 0;
      }
    }
  }
}
